<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item lines="none">
      <ion-label position="fixed">Operation:</ion-label>
      <ion-input placeholder="type here"></ion-input>
    </ion-item>
  </ion-card>



  <ion-card>
    <ion-item>
      <ion-label possition="fixed">Result:</ion-label>
    </ion-item>
    <ion-button>
      %
    </ion-button>

    <ion-button>
      CE
    </ion-button>

    <ion-button>
      C
    </ion-button>

    <ion-button>
      <ion-icon name="backspace-outline"></ion-icon>    </ion-button>

    <!-- 2 linha -->
    <ion-button>
      ½
    </ion-button>

    <ion-button>
      x²
    </ion-button>

    <ion-button>
      3√x
    </ion-button>

    <ion-button>
      /
    </ion-button>


    <!-- 3 linha -->
    <ion-button class="number">
      7
    </ion-button>
    <ion-button class="number">
      8</ion-button>

    <ion-button class="number">
      9
    </ion-button>


    <ion-button>
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>


    <!-- 3 linha -->
    <ion-button class="number">
      4
    </ion-button>

    <ion-button class="number">
      5
    </ion-button>

    <ion-button class="number">
      6
    </ion-button>
    <ion-button>
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>



    <!-- 4 linha -->
    <ion-button class="number">
      1
    </ion-button>

    <ion-button class="number">
      2
    </ion-button>

    <ion-button class="number">
      3
    </ion-button>
    <ion-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>



    <ion-button>
      +/-
    </ion-button>

    <ion-button class="number">
      0
    </ion-button>

    <ion-button>
      ,
    </ion-button>
    <ion-button class="equal">
      <ion-icon name="reorder-two-outline"></ion-icon>
    </ion-button>


  </ion-card>






</ion-content>
