<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item lines="none">
      <ion-label position="fixed">1st value:</ion-label>
      <ion-input placeholder="type here"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="fixed">2nd value:</ion-label>
      <ion-input placeholder="type here"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-button>
      /
    </ion-button>

    <ion-button>
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>

    <ion-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>


    <ion-button class="maior">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
    <ion-button class="maior">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="fixed">Total :</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="fixed">Operation :</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
